<div id="language_chooser">
  Choose Language:<br/>
  <a class="choose_language choose_english"
  href="/en">ENGLISH</a><br/> 
  <a class="choose_language choose_japanese"
  href="/ja">JAPANESE</a>
  
</div>