<div id="language_chooser">
  Choose Language:<br/>
  <%= link_to "ENGLISH", :controller=>params[:controller],:action=>params[:action],:id=>params[:id],:locale=>"en",:currency=>"USD"%>
  <%= link_to "JAPANESE", :controller=>params[:controller],:action=>params[:action],:id=>params[:id],:locale=>"ja",:currency=>"JPY"%>
</div>

</div>